<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Martyna Rudzinska
        </title>
        <link rel="stylesheet" href="\static\styles.css">
        <link rel="icon" href="\static\favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">

    </head>
    <body>
        <div class="top-container">
            <img class="top-cloud" src="\static\cloud.png" alt="cloud">
            <h1>I'm Martyna.</h1>
            <h2>a <span class="pro">pro</span>grammer.</h2>
            <img class="bottom-cloud" src="\static\cloud.png" alt="cloud">
            <img class="mountain" src="\static\mountain.png" alt="mountain">
            
        </div>

        <div class="middle-container">
            <div class="profile">
              <img src="\static\cut M face.jpg" alt="face-img">
              <h2>Hello.</h2>
              <p class="intro">I'm aspiring to be data scientist. Currently working in operations in freight forwarding, based in Brisbane.  
                I have a passion to organising data and drawing conclusions. I ❤️ coffee!</p>
            </div>
            <hr>
            <div class="skills">
              <h2>My Skills.</h2>
              <div class="skill-row">
                <img class="tri-img" src="\static\triathlon.png" alt="tri-img">
                <h3>Triathlon.</h3>
                <p>I love sport! Couldn't decide which one is better so training three different discipline. As I'm naturally well organisied, the fact triathlon requires excepitonal organisational 
                    skills to be able to fit in all the training, family, work, social life and self care is not  a problem to me.</p>
              </div>
              <div class="skill-row">
                <img class="food-img" src="https://media.giphy.com/media/eSQKNSmg07dHq/giphy.gif">
                <h3>Food.</h3>
                <p>My second love is food. 
                    Joking 😀 
                    Food is my first love! 
                </p>
              </div>
              <div class="skill-row">
                <img class="comp-img" src="\static\computer.png">
                <h3>Programming.</h3>
                <p class="programming-text">I also like programming and learning, especially Python. 
                </p>
              </div>
            </div>
            <hr>
            <div class="contact-me">
              <h2>Get In Touch</h2>
              <h3>Let's get in touch.</h3>
              <p>Would love to hear from you if love food as much as I do 😊</p>
                <div class="button">
                  <a class="btn" href="mailto:martyna@o2.com">CONTACT ME</a>
                </div>
              
            </div>
          </div>
          
          
          <div class="bottom-container">
            <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
            <a class="footer-link" href="https://twitter.com/">Twitter</a>
            <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
            <p class="credentials">© 2023 Martyna Rudzinska.</p>
          </div>
          


              
    </body>    