body {
    margin: 0;
    background: #FFE3E1;
    text-align: center;
    font-family:'Merriweather Sans', sans-serif;
}

h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
    line-height: 1;
    
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
p{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 60px;
}
.top-container {
    background: #FFE3E1;
    position: relative;
    padding-top: 100px;
    
    }

.middle-container {
    background: #FFE3E1; 
    margin: 150px;   
}

.bottom-container {
   background: #FFE3E1;
   color: #11999E;
}

.pro{
    text-decoration: underline;
}    

.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;

}
.bottom-cloud {
    position:absolute;
    left: 300px;
    bottom: 300px;
    }

.mountain {
    position: relative;
    top: 70px;


}
